tools/rsync
client/dist
client/node_modules
server/server.exe
client/app.js
client/modules/logger.js
client/mpc/mpc_compute.js
client/mpc/mpc_connect.js
client/mpc/mpc_preprocessing.js
client/mpc/mpc_compute_sum.js
client/mpc/mpc_compute_multi.js
client/mpc/mpc_compute_div.js
client/mpc/mpc_compute_valentine.js
client/mpc/mpc_compute_vote.js
client/mpc/mpc_compute_threshold.js
client/mpc/mpc_compute_sum_threshold.js
client/mpc/mpc_compute_standard_deviation.js
client/components/vue-test.js
client/components/server-address.js
client/components/connect-button.js
client/components/submit-button.js
client/components/submit-button-sum.js
client/components/submit-button-multi.js
client/components/submit-button-div.js
client/components/submit-button-valentine.js
client/components/submit-button-vote-gpu.js
client/components/submit-button-vote-person.js
client/components/submit-button-threshold.js
client/components/submit-button-sum-threshold.js
client/components/submit-button-standard-deviation.js
client/components/mpc-input.js
logger/dist
logger/node_modules
logger/components/vue-test.js
logger/components/server-address.js
logger/components/vue-logger.js
tester/tester.exe
selenium/target
selenium/.settings
