/*
    Basierend auf Xewlie's Design

*/

body {
    font-family: 'Roboto', sans-serif;
    color: #232525;
    border-collapse: collapse;
}

header {
    background-color: #363672;
    color: white;
    padding-bottom: 1px;
    padding-top: 1px;
}

label {
    margin-right: 15px;
}

h1 {
    color: #353838;
}

/*
    General Classes
*/

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.justify-content-center {
    justify-content: center;
}

.mt-auto {
    margin-top: auto;
}

.mb-auto {
    margin-bottom: auto;
}

.mtb-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.ml-1rem {
    margin-left: 1rem;
}

.title {
    margin-left: 15px;
}

.filter-label {
    min-width: 120px;
}

.filter-checkbox {
    min-width: 40px;
}

.error { color: #FF0000; }

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

.pagination {
    display: flex;
}

.page-item {
    margin-left: 5px;
    margin-right: 5px;
    list-style-type: none !important;
}

td, VTh {
    border: 1px solid #ddd;
    padding: 8px;
  }
    
  VTr:nth-child(even){background-color: #f2f2f2;}
    
  VTr:hover {background-color: #ddd;}
    
  VTh {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  
  .selected-row {background-color:#93c5fd}

.box {
    border-radius: 4px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 18px;
    margin-bottom: 18px;
    padding: 15px;
}

/*
    Input Box
*/

input {
    border:2px solid #aaa;
    border-radius:4px;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
    min-width: 200px;
  }
  
  input:focus{
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
  }

/*
    Button X
*/

.button-x {
    border-radius: 4px;
    background-color:rgba(63,81,181,.92);
    border: none;
    text-decoration:none;
    text-align: center;
    cursor: pointer;
    color: white;
}

.button-x:disabled {
    background-color:rgba(163, 163, 163, 0.92);
    color: rgba(255, 255, 255, 0.342);
}

.button-x-connected {
    background-color:rgb(204, 32, 32);
}

.button-x-selectbuttons {
    padding: 8px;
    margin-left: 6px;
    margin-right: 6px;
}

.pagination {
    overflow: auto;
}

.connect-button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 24px;
}

.command-button {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 8px;
    font-size: 18px;
}

.command-div {
    margin-top: 25px;
}

.one-liner-box {
    height: 42px;
}

.disable-controls {
    opacity: 0.5;
    pointer-events: none;
}
  

/*
    Loader Animation
*/

.loader {
    height : 8px;
    width  : 36px; /* (6 * <margin: 2px>) + (3 * <width: 8px>) */
}

.loader-box {
    display                   : inline-block;
    height                    : 8px;
    width                     : 8px;
    margin                    : 0px 2px;
    background-color          : rgb(0,146,255);
    animation-name            : fadeOutIn;
    animation-duration        : 500ms;
    animation-iteration-count : infinite;
    animation-direction       : alternate;
}

.loader-box:nth-child(1) { animation-delay: 250ms; } /* (1/2) * <animation-duration: 500ms */
.loader-box:nth-child(2) { animation-delay: 500ms; } /* (2/2) * <animation-duration: 500ms */
.loader-box:nth-child(3) { animation-delay: 750ms; } /* (3/2) * <animation-duration: 500ms */

@keyframes fadeOutIn {
    0%   { background-color : rgba(0,146,255,1); }
    100% { background-color : rgba(0,146,255,0); }
}
